@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: "Roboto", sans-serif;
    background: #0e0e0e;
}

header div img {
    width: 100%;
}

.headerNav {
    display: grid;
    align-items: center;
    height: 85px;
    border-width: 6px;
    border-style: solid;
    border-color: #0e0e0e;
    margin-top: -4px;
    position: relative;
    border-top-color: azure;
    border-bottom-color: azure;
    color: azure;
    font-size: 22px;
}

.navItens {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navItem {
    list-style: none;
    padding: 10px;
    cursor: pointer;
}

.productsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 20px;
    margin-top: 50px;
    border-style: solid;
    border-radius: 15px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    color: black;
    background-color: white; 
    padding: 30px;   
}

.product {
    display: grid;
    color: black;
    list-style: none;
    border-style: solid;
    border-radius: 10px;
}

.productDescription {
    display: grid;
    align-items: center;
    color: white;
    text-align: center;
    height: 35px;
}

.productPrice {
    display: grid;
    align-items: center;
    color: white;
    text-align: center;
    height: 35px;
}

.fullPrice {
    font-size: 25px;
}

.partPrice {
    font-size: 15px;
}